:root {
	--dark-color-a: #5cb85c;
	--dark-color-b:#5cb85c;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}



.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: black;
}

header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.main p {
	margin-bottom: 20px;
}

.main .form-control {
	margin-bottom: 20px;
}

.main label {
	display: block;
	margin-bottom: 5px;
}

.main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.select {
	font-size: 16px;
	padding: 5px;
	height: 50px;
	width: 100%;
}

.main .btn {
	margin-top: 20px;
	width: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 50px;
    border-radius: 10px;
     margin-left: 10px;
}
